# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# IDE stuff #
#############
.classpath
.project
.settings
.codepro
build/
doc/
target/

# confidential info #
#####################
*.log

# for debug on local netbeans #
###############################
*nbactions*.xml
/nb-configuration.xml

# IntellJ IDEA resources #
##########################
.idea
*.iml
/target
